@inject IDocumentService _documentService

<EditForm Model="@DocumentModel">
<div style="width: 350px;">
  <div class="form-group">
    <label for="InputComapny">Comapny</label>
    <InputTextArea @bind-Value="DocumentModel.Company" type="text" class="form-control" id="InputComapny" placeholder="Comapny Name" rows="1" ></InputTextArea>
    <ValidationMessage For="@(()=>DocumentModel.Company)"/>
  </div>
  <div class="form-group">
    <label for="InputDate">Date</label>
    <InputDate @bind-Value="DocumentModel.Date" class="form-control"/>
    <ValidationMessage For="@(()=>DocumentModel.Date)"/>
  </div>
  <div class="form-group">
      <br/>
    <table>
        <tbody>
            @foreach (var item in DocumentModel.Items)
            {
                <tr scope="row"><td>@item.Name</td><td style="width: 250px;"></td>
                <td><button @onclick="(() => RemoveItem(item))" type="button" class="btn btn-danger btn-sm">Delete</button></td></tr>
            }
            <tr><td><input @bind-value="@AddText" /></td><td style="width: 50px;"/><td><button @onclick="@AddItem" type="button" class="btn btn-primary btn-sm" style="width: 60px;">Add</button></td></tr>
        </tbody>
    </table>
  </div>
  <div class="form-group">
    <InputFile OnChange="@OnInputFileChange" />
  </div>
  <div class="form-group">
  <br />
    <button type="button" @onclick="@Add" class="btn btn-primary" style="float: right;">Add</button>
  </div>
</div>
</EditForm>

@code
{
    [CascadingParameter] 
    BlazoredModalInstance ModalInstance { get; set; }
    [Parameter]
    public DocumentDTO DocumentModel { get; set; }
    public string AddText { get; set; }
    private List<Item> tempItems = new();
    private long maxFileSize = 1024 * 15;
    protected override async Task OnInitializedAsync()
    {
        DocumentModel = new();
        DocumentModel.Items = new List<Item>();
    }
    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        IBrowserFile file = e.File;
        var fileType = e.File.ContentType.Split("/");
        DocumentModel.FileExt = fileType[1];
        string path = Path.GetTempPath();
        await using FileStream fs = new(path, FileMode.Create);
        await file.OpenReadStream(maxFileSize).CopyToAsync(fs);
        DocumentModel.DOC = await fs.ToByteArrayAsync();
    }
    public void AddItem()
    {
        Item item = new Item(AddText,DocumentModel.PkDocumentId);
        DocumentModel.Items.Add(item);
    }
    public void RemoveItem(Item item)
    {
        DocumentModel.Items.Remove(item);
    }
    public async Task Add()
    {
        await _documentService.Create(DocumentModel);
        await ModalInstance.CloseAsync();
    }
}
