@page "/"
@page "/{Category?}"

@inject IDocumentService _documentService
@inject IModalService modal
@inject IJSRuntime JS

<label for="Search" class="fw-bold">Search</label>
<input @bind-value="Search" @bind-value:event="oninput" @onkeyup="Filter" id="Search"/>
<button @onclick="@(()=>ShowAddDocument())" class="btn btn-primary" style="float: right;">Add New Document</button>
<table class="table">
   <thead>
      <tr>
         <th scope="col">Company</th>
         <th scope="col">Date</th>
         <th scope="col">Items</th>
         <th scope="col"></th>
         <th scope="col">Tag</th>
      </tr>
   </thead>
   @if (SearchSpinner)
   {
   <tbody>
      <tr>
         <td><img src="/Content/Search.gif" /></td>
      </tr>
   </tbody>
   }
   else
   {
   <tbody>
      @foreach (var doc in Documents)
      {
      <tr scope="row">
         <td>@doc.Company</td>
         <td>@if (doc.Date.HasValue) 
            {
            @doc.Date.Value.ToString("d.M.yyyy");
            }
         </td>
         <td>
            <_ItemsView Items="@doc.Items.ToList()"></_ItemsView>
         </td>
         <td>
            <button @onclick="@(()=>ShowEditDocument(doc))" class="btn btn-primary">Edit</button>
            <button @onclick="@(()=>RemoveDocument(doc))" class="btn btn-danger">Delete</button>
            <button @onclick="@(()=>DownloadDocument(doc))" class="btn btn-success">Download</button>
         </td>
         <td>
             <img src="Content\tag.svg" alt="Tag" width="30" height="30">
            <i @onclick="(()=>TagSearch(doc.Tag))"><a href="#">@doc.Tag</a></i>
         </td>
      </tr>
      }
   </tbody>
   }
</table>
