@page "/"
@using System.IO

@inject IDocumentService _documentService
@inject IModalService modal
@inject IJSRuntime JS

@using System.Linq
@using Microsoft.AspNetCore.Mvc

<label for="Search" class="fw-bold">Search</label>
<input @bind-value="Search" @bind-value:event="oninput" @onkeyup="Filter" id="Search"/>
<button @onclick="@(()=>ShowAddDocument())" class="btn btn-primary" style="float: right;">Add New Document</button>
 <table class="table">
 <thead>
  <tr>
    <th scope="col">Company</th>
    <th scope="col">Date</th>
    <th scope="col">Items</th>
    <th scope="col">Buttons</th>
  </tr>
</thead>
    @if (SearchSpinner)
    {
        <tbody><tr><td><img src="/Content/Search.gif" /></td></tr></tbody> 
    }
    else
    {
    <tbody>
        @foreach (var doc in Documents)
        {
            <tr scope="row">
                <td>@doc.Company</td>
                <td>@if (doc.Date.HasValue) 
                    {
                        @doc.Date.Value.ToString("d.M.yyyy");
                    }
                    </td>
                <td><_ItemsView Items="@doc.Items"></_ItemsView></td>
                <td>
                    <button @onclick="@(()=>ShowEditDocument(doc))" class="btn btn-primary">Edit</button>
                    <button @onclick="@(()=>RemoveDocument(doc))" class="btn btn-danger">Delete</button>
                    <button @onclick="@(()=>OpenDocument(doc))" class="btn btn-success">Open</button>
                </td>
            </tr>
        }
    </tbody>
    }
</table> 



@code{
    [CascadingParameter]
    public IModalService Modal { get; set; }
    private IEnumerable<DocumentDTO> Documents { get; set; }
    private string Search { get; set; } = string.Empty;
    bool SearchSpinner { get; set; } = false;

    protected override void OnInitialized()
    {
        Documents = _documentService.GetAll();
    }
    public async Task ShowEditDocument(DocumentDTO doc)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(_PopUpEdit.DocumentModel), doc);
        var messageForm = Modal.Show<_PopUpEdit>("Edit Document", parameters);
        var result =  await messageForm.Result;

        //if (!result.Cancelled)
        Documents = _documentService.GetAll();
    }

    public async Task ShowAddDocument()
    {
        var messageForm = Modal.Show<_PopUpAdd>("Add Document");
        var result =  await messageForm.Result;

        if (!result.Cancelled)
            Documents = _documentService.GetAll();
    }

    public async Task RemoveDocument(DocumentDTO doc)
    {
        var messageForm = Modal.Show<_ConfirmDelete>("Delete Document");
        var result =  await messageForm.Result;

        if (!result.Cancelled)
            _documentService.Delete(doc);

        Documents = _documentService.GetAll();
    }

    public async Task OpenDocument(DocumentDTO doc)
    {
        var fileStream = GetFileStream(doc);
        var fileName = Guid.NewGuid().ToString() + doc.FileExt;

        using var streamRef = new DotNetStreamReference(stream: fileStream);

        await JS.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);
    }

    private Stream GetFileStream(DocumentDTO doc)
    {
        var fileStream = new MemoryStream(doc.DOC);

        return fileStream;
    }

    public void Filter()
    {
        SearchSpinner = true;
        Documents = Documents.Where(d => d.Company.Contains(Search, StringComparison.OrdinalIgnoreCase) 
        || d.ItemsInString.GetString().Contains(Search,StringComparison.OrdinalIgnoreCase) || (d.Company.Contains(Search, StringComparison.OrdinalIgnoreCase) 
        && d.ItemsInString.GetString().Contains(Search,StringComparison.OrdinalIgnoreCase)));
        SearchSpinner = false;
    }

}
