@page "/"

@inject IDocumentService _documentService
@inject IModalService modal
@inject IJSRuntime JS

<label for="Search" class="fw-bold">Search</label>
<input @bind-value="Search" @bind-value:event="oninput" @onkeyup="Filter" id="Search"/>
<button @onclick="@(()=>ShowAddDocument())" class="btn btn-primary" style="float: right;">Add New Document</button>
<table class="table">
   <thead>
      <tr>
         <th scope="col">Company</th>
         <th scope="col">Date</th>
         <th scope="col">Items</th>
         <th scope="col"></th>
         <th scope="col">Tag</th>
      </tr>
   </thead>
   @if (SearchSpinner)
   {
   <tbody>
      <tr>
         <td><img src="/Content/Search.gif" /></td>
      </tr>
   </tbody>
   }
   else
   {
   <tbody>
      @foreach (var doc in Documents)
      {
      <tr scope="row">
         <td>@doc.Company</td>
         <td>@if (doc.Date.HasValue) 
            {
            @doc.Date.Value.ToString("d.M.yyyy");
            }
         </td>
         <td>
            <_ItemsView Items="@doc.Items"></_ItemsView>
         </td>
         <td>
            <button @onclick="@(()=>ShowEditDocument(doc))" class="btn btn-primary">Edit</button>
            <button @onclick="@(()=>RemoveDocument(doc))" class="btn btn-danger">Delete</button>
            <button @onclick="@(()=>DownloadDocument(doc))" class="btn btn-success">Download</button>
         </td>
         <td>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-tag" viewBox="0 0 16 16">
               <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"/>
               <path d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"/>
            </svg>
            @doc.Tag
         </td>
      </tr>
      }
   </tbody>
   }
</table>
